.advantages__list {
  @include clear-list;
}

.advantages__item {
  background-color: #81b3d2;
}

.advantages__sublist {
  background-color: #ffffff;

  @include clear-list;

  &-wrapper {
    padding: 23px 18px 52px 18px;
  }

  .advantages__item {
    background-color: inherit;
  }
}

.advantages__item--other-theme {
  background-color: #eeeeeeee;
  padding: 24px 18px 24px 18px;
}

.advantages__item-title {
  margin: 0;
}

.advantages__number {
  margin: 0;
}

.advantages__description {
  margin: 0;
}

.advantages__wrapper {
  margin-bottom: 39px;
}

.advantages__item-wrapper {
  padding: 33px 22px 40px 16px;
}
