@mixin clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__list {
  @include clear-list;
}

.advantages__item {
  background-color: #81b3d2;
}

.advantages__sublist {
  background-color: #ffffff;

  .advantages__item {
    background-color: inherit;
  }
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 27px;
  text-transform: uppercase;
}

.advantages__item-title {
  margin: 0;
}

.advantages__number {
  margin: 0;
}

.advantages__description {
  margin: 0;
}

.advantages__wrapper {
  margin-bottom: 33px;
}
