.input-block {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.input-block__field {
  height: 58px;
  width: 264px;
  padding-left: 16px;
  background-color: #f2f2f2;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;

  &::placeholder {
    color: #000000;
  }

  &--comment::placeholder {
    color: rgba(#000000, 0.3);
  }
}

.input-block__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
