.main-navigation {
  align-self: center;
}

.main-navigation__toggle {
  width: 23px;
  height: 22px;
  margin-left: 25px;
  margin-right: 20px;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
