.main-header {
  display: flex;
  width: 100%;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: block;
  }
}

.main-header__logo {
  padding-left: 70px;
  justify-self: center;

  &--hidden {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
