.main-footer__hashtag {
  margin-bottom: 33px;
}

.main-footer__link-hashtag {
  margin: 0;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-footer__wrapper {
  padding-top: 28.5px;
  padding-bottom: 22.9px;
}
