.page-search {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
}

.page-search__title {
  margin: 0;
}

.page-search__subtitle {
  margin: 0;
}

.page-search__button {
  margin: 0;
  color: #ffffff;
  background-color: #81b3d2;
  text-decoration: none;
  text-transform: uppercase;
}

.page-search__photo-map {
  margin: 0;
}
